language: node_js
node_js:
  - "8"
before_install:
  - npm install
install:
  - npm run build
script:
  - npm run lint
  - npm run test
  - npm run coverage
after_success:
  - npm run coveralls
